services:
  server:
    build:
      context: ./server
    env_file:
      - ./server/.env
    restart: unless-stopped
    depends_on:
      qdrant:
        condition: service_started
      postgres:
        condition: service_healthy
  ai:
    build:
      context: ./ai
    env_file:
      - ./ai/.env
    restart: unless-stopped
    depends_on:
      - qdrant
      - postgres
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - qdrant
      - postgres
      - server
      - ai
    restart: unless-stopped
  qdrant:
    image: qdrant/qdrant:latest
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./assets/qdrant_data:/qdrant/storage
  postgres:
    image: postgres:latest
    restart: unless-stopped
    env_file:
      - ./server/.env
    ports:
      - "5433:5432"
    volumes:
      - ./assets/postgres_data:/var/lib/postgresql/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
volumes:
  qdrant_storage: {}
  postgres_data: {}