services:
  ai:
    build: ./ai
    env_file:
      - ./ai/.env
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    restart: unless-stopped
    depends_on:
      - qdrant
      - postgres

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - ai
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./assets/qdrant_data:/qdrant/storage

  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 36951
      POSTGRES_DB: syara
    ports:
      - "5433:5432"
    volumes:
      - ./assets/postgres_data:/var/lib/postgresql/

volumes:
  qdrant_storage: {}
  postgres_data: {}